{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ activity.title }}</h1>
  <p>Added by: {{ activity.author }}</p>
  <br></br>
  <p><strong>Summary:</strong> {{ activity.summary }}</p>
  <p><strong>Cost:</strong> {{ activity.cost }}</p>
  <p><strong>Duration:</strong> {{ activity.duration }}</p>
  <p><strong>Tag(s):</strong> {% for tag in activity.tag.all %} {{ tag }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
  <p><strong>Location(s):</strong> {% for location in activity.location.all %} {{ location }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>


  <div style="margin-left:20px;margin-top:20px">
    <p> Hello world, I could be some markdown </p>
  </div>
{% endblock %}
